:root {
    --color-primary-white: #FFFFFF;
    --color-primary-blue: #2B7FFF;
    --color-primary-dark-blue: #011C44;
    --color-secondary-dark-grey: #4A4A4A;
    --color-secondary-light-grey: #747272;
    --color-secondary-dark-blue: #011F4A;
    --color-secondary-light-yellow: #FFD02B;
    --color-black: #000000;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;