.footer {
    position: relative;
    padding: 56px 0;
    background-color: var(--color-primary-dark-blue);
    background-image: url("../images/background_lines.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::after {
        background-image: none;


        @media screen and (min-width: $bp-desktop) {
            position: absolute;
            width: 278px;
            height: 213px;
            Top: 100px;
            right: 0;

            background-image: url("../images/footer_after_picture.png");
            background-repeat: no-repeat;
            content: '';
        }
    }

    &__logo {

        flex-grow: 1;
    }

    &__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 16px;
    }

    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        flex-direction: column;
        gap: 20px;
    }

    @media screen and (min-width: 768px) {
        &__container {

            flex-direction: row;
        }
    }

    &__nav,
    &__address {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    @media screen and (min-width: 768px) {

        &__nav,
        &__address {

            flex-direction: row;

            flex-basis: 50%;
            text-align: left;
        }
    }

    &-link {
        color: var(--color-primary-white);
        font-family: 'Roboto',
            sans-serif;
        /* line-height: 21.09px; */
        font-weight: 400;
        line-height: 1.2;
        text-decoration: none;
        transition: color 0.2s;

        /* line height/size */


    }

    &-link:hover {
        color: var(--color-primary-white);
        font-family: 'Roboto',
            sans-serif;
        font-weight: 700;
        line-height: 1.2;

        /* text-decoration: underline;
    font-weight: 600;
   */
        /* hex value */
    }

    &__address-list {

        display: none;

        @media screen and (min-width: 768px) {

            display: flex;

            flex-direction: column;

            flex-grow: 1;
            gap: 16px;
        }
    }

    &__address-info {

        order: 1;

        @media screen and (min-width: 768px) {
            display: flex;

            flex-direction: column;

            flex-grow: 1;
            gap: 16px;
        }
    }

    &__address-link {


        color: var(--color-primary-white);
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;

    }



    &__address-link:hover {
        color: var(--color-primary-white);
    }

    &__socials {
        order: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        justify-content: center;
        gap: 24px;
        margin-top: 16px;


        @media screen and (min-width: 768px) {


            justify-content: flex-start;

        }
    }

    &__socials-icon {
        fill: var(--color-primary-white);
    }

    &__socials-icon:hover {
        fill: var(--color-primary-white);
    }

    &__address-copyright {
        color: var(--color-secondary-light-grey);
        font-size: 14px;
    }
}