.formats-section {

    padding-bottom: 0;
    background-image: url("../images/background-wave@2x.jpg");
    /* transform: rotate(142.77deg); */
    background-repeat: no-repeat;
    /* align-items: center;
    background-position: center top; */
    background-size: cover;
    overflow: auto;
    flex: none;
    order: 1;
    flex-grow: 0;



    &__title {
        margin: 100px;
    }

    &__container {
        overflow: hidden;
    }

    &__list {
        margin-bottom: 32px;
    }

    &__button {
        display: none;

        /* @media screen and (min-width: $bp-tablet) {
      display: flex;
    } */
    }

    &__slider {
        display: flex;
        align-items: center;
        gap: 32px;
    }
}